<!DOCTYPE html>
<html lang="en"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metpack - Pizza Recruitment Project</title>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}"/>
</head>
<header>
</header>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 flex-column">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
                    <a class="navbar-brand logo-name" th:href="@{/menu}">Pizza Hot</a>
                    <div class="right">
                        <div class="collapse navbar-collapse mr-auto" id="navbarContent">
                            <ul class="navbar-nav inline-block">
                                <li class="nav-item inline-block color-white">
                                    <span class="inline-block">Cena:</span>
                                    <p class="nav-item inline-block" th:if="${priceCart} == null" th:value="0" th:text="0 + zł"></p>
                                    <p class="nav-item inline-block" id="priceCart" name="priceCart" th:unless="${priceCart} == null" th:value="${priceCart}" th:text="${priceCart} + zł"></p>
                                </li>
                                <li class="nav-item inline-block">
                                    <a class="nav-link">Historia zamówień</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center heading no-margin-bot">Podsumowanie Zamówienia</p>
            </div>
            <div class="col-lg-12">
                <table class="table">
                   <thead>
                    <tr>
                        <th th:text="${content[0].id}"></th>
                        <th th:class="name-col" th:text="${content[0].itemVal}"></th>
                        <th th:text="${content[0].priceVal}"></th>
                        <th th:text="${content[0].amount}"></th>
                        <th th:text="${content[0].totalVal}"></th>
                    </tr>
                    </thead>
                    <tr th:each="i : ${#numbers.sequence(1, content.size() - 2)}" th:if="(${contentCount}-1>=1)">
                        <td th:text="${i}"></td>
                        <td th:text="${content[i].id}"></td>
                        <td th:text="${content[i].itemVal}"></td>
                        <td th:text="${content[i].priceVal}"></td>
                        <td th:text="${content[i].amount}"></td>
                        <td th:text="${content[i].totalVal}"></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <form>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Email:</label>
                                <input type="email" class="form-control form-control-sm" th:value="${content[content.size()-1].email}" name="email" id="email" disabled/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Telefon:</label>
                                <input type="text" class="form-control form-control-sm" th:value="${content[content.size()-1].phone}"name="phone" id="phone" disabled/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>