<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metpack - Pizza Recruitment Project</title>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/order-details.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order-details.css}"/>
</head>
<header>
</header>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 flex-column">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
                <a class="navbar-brand logo-name" th:href="@{/menu}">Pizza Hot</a>
                <div class="right">
                    <div class="collapse navbar-collapse mr-auto" id="navbarContent">
                        <ul class="navbar-nav inline-block">
                            <li class="nav-item inline-block color-white">
                                <span class="inline-block">Cena:</span>
                                <p class="nav-item inline-block" th:if="${priceCart} == null" th:value="0" th:text="0 + zł"></p>
                                <p class="nav-item inline-block" id="priceCart" name="priceCart" th:unless="${priceCart} == null" th:value="${priceCart}" th:text="${priceCart} + zł"></p>
                            </li>
                            <li class="nav-item inline-block">
                                <a class="nav-link">Historia zamówień</a>
                            </li>
                            <li class="nav-item inline-block">
                                <img class="shopping-cart" th:src="@{/img/shopping-cart.png}" alt="shopping-cart"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 margin-top">
            <div class="order-element ">
                <img th:src="@{/img/hungarian-cake.png}" th:id="hcake" th:value="hcake" class="img-fluid" alt="hcake"/>
            </div>
        </div>
        <div class="col-lg-6 margin-top">
            <section>
                <form th:method="POST" th:action="@{/addHungaryCakeToOrderList}">
                    <h1>Placek po węgiersku</h1>
                    <h6>Cena za sztukę - 27zł</h6>
                    <div class="form-group col-lg-2">
                        <input class="form-control form-control-sm" th:type="numbers" name="quantity" id="quantity" placeholder="Ilość..." autocomplete="off" th:required="required"/>
                    </div>
                    <br>
                    <button type="submit"  class="btn btn-success">Dodaj do koszyka</button>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
</html>